/** @format */
.phone-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  list-style: none;
  margin: 25px 100px;
}
.phone-list-one-item {
  text-align: center;
}
.phone-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20rem;
  padding: 10px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.phone-name {
  font-weight: 800;
}
.phone-price {
  font-weight: 500;
  color: red;
}
